doctype html
html
    head
        meta(charset="utf-8")
        title="dapps-template"
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500')
        link(rel='stylesheet' href='/css/index.css')
    body
        noscript You need to enable JavaScript to run this app.
        div#content
        script(src='/js/bundle.js')
